.guarantee{
  border-color: black;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  margin: 30px;
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #444444;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  border-color: white;
  padding-left: 80px;
  margin-right: 250px;
}
#top
{
  border-width: thin;
  border-style: solid;
  border-color: #a7cece;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  text-align: center;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
}
#top h2
{
  color: black;
}
#top h3
{
  color: #d12c47;
}
#top
{
  line-height: 1em;
}
 #top
 {
   line-height: 1;
 }
  #a
 {
   font-size: 50%;
   text-align: center;
   line-height: normal;
   margin-top: 30px;
 }
 .cd
 {
   font-style: italic;
 }
 .artist
 {
   font-weight: bold;
 }